body{
    background-color: lightblue;
   height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-all{
    background-color: aliceblue;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.heading{
    font-family:cursive;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    color: rgb(25, 179, 81);
}

.emojis-all{
    display: flex;
    margin: 10px ;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.emojis:hover{
    background-color: rgb(74, 177, 177);
    color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100px;
}

/*.neutral:hover{
    background-color: rgb(74, 177, 177);
    color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100px;
}

.satisfied:hover{  
    background-color: rgb(74, 177, 177);
    color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100px;
}*/


.fa-solid{
    margin: 20px 15px;
}

.emojis:hover, .emojis.active{
    background-color: darkseagreen;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    transition: all 300ms ease;
}
.btn1{
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
   background-color: rgb(72, 105, 72);
   padding: 12px 30px;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   color: black;
cursor: pointer;

}

.btn1:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.btn1.active{
    transform: scale(0.96);
}